[Unit]
Description=UDPClient Weather data monitor service

[Service]
Type=simple
ExecStart=/home/pi/bin/udpclient_from_weather_sensor.sh $UDP_PORT $BRIGHTNESS_PIN
EnvironmentFile=/etc/default/udp-weather-mon
User=pi

[Install]
WantedBy=multi-user.target
