cbor2==5.4.0
click==8.0.1
Deprecated==1.2.12
Flask==2.0.1
importlib-metadata==4.8.1
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
pigpio==1.78
Pillow==8.3.1
platformdirs==2.4.0
pycodestyle==2.7.0
pyftdi==0.52.9
pylint==2.11.1
pyserial==3.5
pyusb==1.1.1
RPLCD==1.3.0
smbus==1.1.post2
smbus2==0.4.1
spidev==3.5
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
waitress==2.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
